a .Adresse {
  float: right;
  font-size: 0.75em;
}
#content {
  position: absolute;
  top: 4px; bottom: 0; left: 0; right: 0;
}
#content > #selector {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}
table#data {
  border-collapse: collapse;
}
table#data > tr > th,
table#data > tr:nth-child(odd) > td {
  background: #ccc;
}
#content > #details {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
}

ul.check {
  list-style: none;
}
ul.check li:before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
li.error:before {
  content: "✘";
  color: red;
}
li.success:before {
  content: "✔";
  color: green;
}
li.warning:before {
  content: "✘";
  color: orange;
}

#loadingIndicator {
  display: none;
}
body.loading > #loadingIndicator {
  display: block;
  z-index: 10000;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
}
body.loading > #loadingIndicator:before {
  display: block;
  position: absolute;
  content: "";
  margin-left: -250px;
  width: 250px;
  height: 4px;
  background: red;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    margin-left: -250px;
  }
  100% {
    margin-left: 100%;
  }
}
