a .title {
}
a .address {
  float: right;
  font-size: 0.75em;
}
#selector {
  overflow: auto;
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  width: calc(50% - 1px);
  border-right: 1px solid black;
}
#selector > div {
  display: none;
}
#selector > #filter {
  display: block;
  flex: 0 1 auto;
}
#selector.viewmode-info > #content,
#selector.viewmode-table > #content {
  display: block;
}
#selector.viewmode-map {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
#selector.viewmode-map > #map {
  flex: 1 0;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#main-page {
  display: none;
}
.viewmode-main-page #main-page {
  display: block;
}
.hasMap #selector {
  bottom: 401px;
}
.hasMap #map {
  position: absolute;
  display: block;
  height: 400px;
  width: 100%;
  bottom: 0;
  left: 0;
  width: calc(50% - 1px);
  border-right: 1px solid black;
  border-top: 1px solid black;
}
#selector > div > select {
  width: 49%;
  box-sizing: border-box;
  display: inline-block;
}
table#data {
  width: 100%;
  border-collapse: collapse;
}
table#data > tr > td {
  padding: 0.125em 0.25em;
}
table#data > tr > th,
table#data > tr:nth-child(odd) > td {
  background: #ccc;
}
table#data > tr.active > td {
  background: blue;
}
table#data > tr.active a {
  color: white;
}
#details {
  overflow: auto;
  position: absolute;
  top: 4px;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 0 0.5em;
  box-sizing: border-box;
}
tt {
  white-space: nowrap;
}

ul.check {
  list-style: none;
}
ul.check li:before {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
ul ul.check {
  padding-left: 1em;
}
ul ul.check li:before {
  margin-left: -1em;
}
li.error:before {
  content: "✘";
  color: red;
}
li.success:before {
  content: "✔";
  color: green;
}
li.warning:before {
  content: "✘";
  color: orange;
}
li.question:before {
  content: "?";
  font-weight: bold;
  color: orange;
}

ul.attrList {
  font-size: 0.8em;
  padding-left: 1em;
}
ul.attrList > li {
  list-style: disc;
}
ul.attrList > li a {
  text-decoration: none;
}

#loadingIndicator {
  display: none;
}
body.loading > #loadingIndicator {
  display: block;
  z-index: 10000;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  overflow: hidden;
}
body.loading > #loadingIndicator:before {
  display: block;
  position: absolute;
  content: "";
  margin-left: -250px;
  width: 250px;
  height: 4px;
  background: red;
  animation: loading 2s linear infinite;
}
.reload {
  float: right;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

@keyframes loading {
  0% {
    margin-left: -250px;
  }
  100% {
    margin-left: 100%;
  }
}

ul#last > li > .ts {
  float: right;
  font-size: 0.8em;
  padding-right: 40px;
}
